body {
  background-color: rgb(239, 237, 238);
}

.Dictionary {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}

h1 {
  text-align: center;
  letter-spacing: 7px;
  font-family: poppins;
  margin-top: 100px;
  font-size: 51px;
  font-weight: 200;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: poppins;
  margin-top: 0;
}

h3 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: poppins;
  margin-top: 40px;
  color: #b883af;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 300;
  font-family: poppins;
  margin-top: 20px;
}

p {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: poppins;
  margin: 0 auto;
  display: block;
  max-width: 400px;
}

li {
  list-style: none;
}

.Photos img {
  border-radius: 15px;
  margin: 10px;
}

.hint {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: poppins;
  margin: 0 auto;
  display: block;
  max-width: 400px;
  margin-top: 15px;
}

.whichWord {
  color: blue;
}

.search {
  color: red;
}
